* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* equivalente a 10px */
}

body {
    background-color: #1a1b18;
    color: #d1d1c1;
    font-family: Verdana, sans-serif;
    font-size: 3rem;
    /* um rem vale 10px */
}

/* Utilizei essa cor baseado em alguns artigos de psicologia das cores */
#cabecalho {
    background-color: #7e4606;   
}

/*Olá! Sua missão é dar destaque ao nosso cabeçalho.



    Estilize o título h1 com um tamanho de 3rem e centralize o texto com text-align: center.

    Na lista do menu (nav ul), remova as bolinhas com list-style: none.

    Adicione um padding no header para o conteúdo não encostar nas bordas.

Dica: Use text-decoration: none nos links (a) para remover o sublinhado padrão. */